@model CA1S00122306.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Trip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Viable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Complete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Complete)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
