@model CA1S00122306.Models.Leg

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Leg</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartLocation)
            @Html.ValidationMessageFor(model => model.StartLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndLocation)
            @Html.ValidationMessageFor(model => model.EndLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TripId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TripId)
            @Html.ValidationMessageFor(model => model.TripId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
