@model CA1S00122306.Models.Leg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Leg</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
